NODE_ENV=
PORT=
BACKEND_PORT=
FRONTEND_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
REFRESH_TOKEN_ENCRYPTION_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_REGION=
S3_BUCKET_NAME=
S3_MAX_AUTO_HISTORY_VERSION=
S3_AUTO_HISTORY_DELAY=
S3_MAX_CHECKPOINTS=
EDGE_ENDPOINT=

CDN_URL=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY=
CLOUDFRONT_PRIVATE_KEY_PATH=

SCW_PROJECT_ID=
SCW_ORGANIZATION_ID=

BACKEND_WEBRTC_HOSTNAME=
BACKEND_WEBRTC_PORT_BASE=
BACKEND_WEBRTC_PORT_END=

NPM_REGISTRY=
PRISMA_MIRROR=
